.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(164, 150, 150);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#square {
  width: 400px;
  height: 400px;
  background: black;
  border: solid 21px #f0f;
  color: white;
}

.tabs {
  width: 400px;  
  padding: 10px;
  border: 4px dotted rgb(101, 0, 126);
  /*
  display: table;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  */
}

.tab {
  width: 100%;  
  background-color: red;
  /*display: table-cell;*/
  padding: 10px;
}

.tabs-div {
  width: 100%;
}

.content {
  width: 400px;
}
